<header class="bar bar-header bar-dark">
    <h1 class="title">{{sideMenuSettings.rightSideMenuScope.exercise.title}} Settings</h1>
</header>
<content has-header="true" scroll="false">
    <div class="padding">
    <div class="list">
        
        <div>
            <span class="input-label">Blink Speed</span>
            <span>{{sideMenuSettings.rightSideMenuScope.settings.blinkSpeed}}</span>
        </div>
        <div class="range">
            <span class="step">
                <i class="icon ion-minus"></i>
            </span>
            <input type="range" name="blinkSpeed" 
               min="{{sideMenuSettings.rightSideMenuScope.settings.minBlinkSpeed}}" max="{{sideMenuSettings.rightSideMenuScope.settings.maxBlinkSpeed}}"
                ng-model="sideMenuSettings.rightSideMenuScope.settings.blinkSpeed"/>
            <span class="step">
                <i class="icon ion-plus"></i>
            </span>
        </div>
        
            
        
        <div>
            <span class="input-label">Word Length:</span>
            <span>{{sideMenuSettings.rightSideMenuScope.settings.wordLength}}</span>
        </div>
        <div class="range">
            <span class="step">
                <i class="icon ion-minus"></i>
            </span>
            <input type="range" name="wordLength" ng-model="sideMenuSettings.rightSideMenuScope.settings.wordLength"
                min="{{sideMenuSettings.rightSideMenuScope.settings.minWordLength}}"
                max="{{sideMenuSettings.rightSideMenuScope.settings.maxWordLength}}">
            <span class="step">
                <i class="icon ion-plus"></i>
            </span>
        </div>
        
        <div style="float:right">
            <button class="button button-dark" ng-click="sideMenuSettings.rightSideMenuScope.applySettings()">Apply</button>
            <button class="button button-dark" ng-click="sideMenuSettings.rightSideMenuScope.cancelSettings()">Cancel</button>
        </div>
    </div>
    </div>
</content>