<header class="bar bar-header bar-dark">
    <h1 class="title">{{sideMenuSettings.rightSideMenuScope.exercise.title}} Settings</h1>
</header>
<content has-header="true" scroll="false">
    <div class="padding">
    <div class="list">
        
        <div>
            <span class="input-label">Blink Speed</span>
        </div>
        <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" ng-model="sideMenuSettings.rightSideMenuScope.settings.blinkSpeed">
            <i class="icon ion-volume-high"></i>
        </div>
        
            
        
        <div>
            <span class="input-label">Word Length</span>
        </div>
        <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" ng-model="sideMenuSettings.rightSideMenuScope.settings.wordLength">
            <i class="icon ion-volume-high"></i>
        </div>
        
        <div style="float:right">
            <button class="button button-dark" ng-click="closeModal()">Apply</button>
            <button class="button button-dark" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
    </div>
</content>