<div class="modal">
    <header class="bar bar-header bar-positive">
      <h1 class="title">{{exercise.name}} Settings</h1>
      <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
    </header>
    <content has-header="true">
      <div class="padding">
        <div class="list">
           <label class="item item-input">
            <span class="input-label">Blink Speed</span>
            <div class="range">
              <i class="icon ion-volume-low"></i>
              <input type="range" name="volume" ng-model="settings.blinkSpeed">
              <i class="icon ion-volume-high"></i>
            </div>
          </label>
            
          <label class="item item-input">
            <span class="input-label">Word Length</span>
            <div class="range">
              <i class="icon ion-volume-low"></i>
              <input type="range" name="volume" ng-model="settings.wordLength">
              <i class="icon ion-volume-high"></i>
            </div>
          </label>
          <button class="button button-positive" ng-click="closeModal()">Apply</button>
            <button class="button button-positive" ng-click="closeModal()">Cancel</button>
        </div>
      </div>
    </content>
  </div>